!*.png
!*.asset
*/Assets/2DArt*
*/Temp/*
*.png.meta
*.psd
*.psd.meta
*.pdf
*.pdf.meta
*.suo
*.sln
*.csproj
*.cache
*.log
*/Assets/TextMesh Pro*
*/Assets/2D Dungeon PixelArt Tileset*
BlindChase/Library/
BlindChase/Packages/
